* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.header-container {
  width: 100%;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(255, 105, 0, 255);
  align-items: center;
  font-weight: 600;
}

.col-p20 {
  padding: 20px;
}

.logo {
  height: 30px;
}

.content a {
  text-decoration: none;
  color: white;
  padding: 0px 5px;
}

.content i {
  color: white;
  padding: 0px 5px;
}

/* MAIN */

.content {
  position: relative;
}

.main-container {
  width: 100%;
}

.main-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mgv-50 {
  margin: 50px 0;
}

.col-m20 .content img {
  max-height: 550px;
  margin: 0 20px;
}

.red-price {
  color: red;
  font-weight: 600;
}

.line-th {
  text-decoration-line: line-through;
}

.mgo-19 {
  margin: 0px 19px;
}

.mgv-b50 {
  margin-bottom: 50px;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: rgba(0, 128, 0, 255);
}

.label {
  color: white;
  position: absolute;
  padding: 5px;
  top: 495px;
  left: 20px;
  display: flex;
  z-index: 1;
}

.labels {
  color: white;
  position: absolute;
  padding: 5px;
  top: 495px;
  left: 492px;
  z-index: 1;
}

.labels-2 {
  color: white;
  position: absolute;
  padding: 5px;
  top: 495px;
  left: 71px;
}

.labels-3 {
  color: white;
  position: absolute;
  padding: 5px;
  top: 495px;
  left: 20px;
}

.heart {
  position: absolute;
  font-size: 35px;
  background-color: white;
  height: 40px;
  width: 40px;
  top: 15px;
  left: 361px;
  text-align: center;
  cursor: pointer;
}

.heart:hover {
  color: red;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.content:hover .d-block {
  display: none;
}

.content:hover .d-none {
  display: block;
}

/* FOOTER */

.footer-container {
  width: 100%;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(26, 26, 26, 255);
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1px;
}

.icons {
  margin-top: 6px;
}

.col-p35 {
  padding: 35px;
}

.col-p35 .content p {
  color: white;
}

.col-p35 .content h4 {
  margin-bottom: 5px;
  color: white;
}
